<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag :session, :url =>sessions_path do %>
      <%= label_tag :email, "Email" %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= link_to "forgotten password?", new_password_reset_path %>
      <p><%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
      <%= submit_tag "Sign in", :class => "btn btn-large btn-primary"%></p>
    <%end%>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>