<%= provide(:title, 'Stocks') %>
<h1>Stocks</h1>
<%= form_for @stock do |f| %>
	<%= f.label :symbol %>
	<%= f.text_field :symbol %>

	<%= f.submit "Create new stock", class: "btn btn-large btn-primary"%>
<% end %>
<%= form_tag stocks_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<%= will_paginate %>

<ul class="users">
   <%= render @stocks %>
</ul>

<%= will_paginate %>