<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= link_to "view my stocks", stocks_path%>
</span>
<span id="message links">
	<%= link_to pluralize(current_user.message_feed.count, "message"), message_feed_path(id: current_user.id), remote: true%>
</span>
<span>
  <%= link_to pluralize(current_user.microposts.count, "micropost") %>
</span>