<tr>
	<td><%= line_item.name %></td>
	<td><%= line_item.yr9 %></td>
	<td><%= line_item.yr8 %></td>
	<td><%= line_item.yr7 %></td>
	<td><%= line_item.yr6 %></td>
	<td><%= line_item.yr5 %></td>
	<td><%= line_item.yr4 %></td>
	<td><%= line_item.yr3 %></td>
	<td><%= line_item.yr2 %></td>
	<td><%= line_item.yr1 %></td>
	<td><%= line_item.yr0 %></td>
</tr>